Repository bulwark-security/bulwark, pull requests merged in 2024-06, with the labels that each got.

#338 Clean up disconnection handling
  crates/ext-processor/src/errors.rs
  crates/ext-processor/src/service.rs
Labels: kind/bug, kind/cleanup

#334 File not found errors for config files now indicate which file is missing
  crates/config/src/errors.rs
  crates/config/src/toml.rs
  crates/config/tests/missing_plugin.toml
  crates/config/tests/missing_reference.toml
Labels: size/small, kind/usability, rust

#343 Reimplement with actual clamp function and test
  crates/decision/src/decision.rs
Labels: kind/cleanup, rust

#344 Use case-insensitive comparisons
  crates/sdk-macros/src/lib.rs
Labels: kind/cleanup

#342 Outbound HTTP for SDK
  ATTRIBUTIONS.md
  Cargo.lock
  crates/ext-processor/src/errors.rs
  crates/ext-processor/src/service.rs
  crates/host/src/context.rs
  crates/host/src/plugin.rs
  crates/sdk-macros/src/lib.rs
  crates/sdk/Cargo.toml
  crates/sdk/examples/blank-slate/Cargo.lock
  crates/sdk/examples/blank-slate/src/lib.rs
  crates/sdk/examples/evil-bit/Cargo.lock
  crates/sdk/examples/evil-bit/src/lib.rs
  crates/sdk/src/host_api.rs
  crates/sdk/src/http.rs
  crates/sdk/src/lib.rs
  tests/plugins/multi-phase-plugin-a/Cargo.lock
  tests/plugins/multi-phase-plugin-a/src/lib.rs
  tests/plugins/multi-phase-plugin-b/Cargo.lock
  tests/plugins/multi-phase-plugin-b/src/lib.rs
  tests/plugins/redis-plugin/Cargo.lock
  tests/plugins/redis-plugin/src/lib.rs
Labels: rust, kind/enhancement, area/plugin-api

#346 Move Redis error into redis module
  crates/sdk/src/errors.rs
  crates/sdk/src/redis.rs
Labels: kind/cleanup

#348 Use `async_trait` macro.
  Cargo.toml
  crates/host/Cargo.toml
  crates/host/src/context.rs
Labels: kind/cleanup, rust, area/plugin-api

#351 Add counters to `Verdict`
  crates/ext-processor/src/service.rs
  crates/host/src/from.rs
  crates/host/src/plugin.rs
  crates/sdk-macros/src/lib.rs
  crates/sdk/src/from.rs
  crates/sdk/src/host_api.rs
  tests/exec_plugin.rs
  tests/multi_phase.rs
  tests/redis.rs
  wit/types.wit
Labels: kind/enhancement, area/plugin-api

#352 Introduce automated workflow for crate publishing
  .dryrunsecurity.yaml
  .github/workflows/publish-crate.yml
  .gitignore
  ATTRIBUTIONS.md
  crates/sdk/examples/blank-slate/Cargo.lock
  crates/sdk/examples/blank-slate/Cargo.toml
  crates/sdk/examples/evil-bit/Cargo.lock
  crates/sdk/examples/evil-bit/Cargo.toml
  scripts/publish.rs
  supply-chain/README.md
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: kind/usability, github_actions

#354 Update `wasmtime` to v22.0.0.
  Cargo.lock
  Cargo.toml
  crates/host/src/plugin.rs
  crates/sdk/examples/blank-slate/Cargo.lock
  crates/sdk/examples/evil-bit/Cargo.lock
  tests/plugins/multi-phase-plugin-a/Cargo.lock
  tests/plugins/multi-phase-plugin-b/Cargo.lock
  tests/plugins/redis-plugin/Cargo.lock
Labels: size/large, dependencies, rust

#355 Exit with error code if service can't start.
  .github/workflows/rust.yml
  src/main.rs
  tests/bulwark.toml
  tests/envoy.rs
  tests/gha_envoy.yaml
  tests/local_envoy.yaml
  tests/multi_phase.toml
Labels: kind/bug, kind/usability, rust, kind/testing

#358 Tidy up the documentation and make sure all modules have outer docs
  Cargo.lock
  crates/sdk-macros/src/lib.rs
  crates/sdk/Cargo.toml
  crates/sdk/examples/blank-slate/Cargo.lock
  crates/sdk/examples/evil-bit/Cargo.lock
  crates/sdk/src/errors.rs
  crates/sdk/src/host_api.rs
  crates/sdk/src/http.rs
  crates/sdk/src/lib.rs
  crates/sdk/src/redis.rs
  tests/plugins/multi-phase-plugin-a/Cargo.lock
  tests/plugins/multi-phase-plugin-b/Cargo.lock
  tests/plugins/redis-plugin/Cargo.lock
Labels: kind/docs, kind/usability

#359 Update subcrate README files to be more useful
  SECURITY.md
  crates/build/README.md
  crates/config/README.md
  crates/decision/README.md
  crates/ext-processor/README.md
  crates/host/README.md
  crates/sdk-macros/README.md
  crates/sdk/README.md
  docs/README.md
Labels: kind/docs, kind/usability

#360 Improve instantiate error handling
  crates/ext-processor/src/service.rs
Labels: kind/cleanup, rust, area/logging

#361 Add smoke test for greater API coverage
  Cargo.toml
  crates/host/src/context.rs
  tests/envoy.rs
  tests/plugins/smoke-test/.gitignore
  tests/plugins/smoke-test/Cargo.lock
  tests/plugins/smoke-test/Cargo.toml
  tests/plugins/smoke-test/src/lib.rs
  tests/smoke_test.rs
  tests/smoke_test.toml
Labels: size/xx-large, rust, kind/testing

#362 Update dependencies
  Cargo.lock
  Cargo.toml
  crates/config/Cargo.toml
  deny.toml
Labels: kind/cleanup, dependencies

#364 Upload release binaries
  .github/workflows/publish-release.yml
Labels: github_actions, kind/testing

#365 Install protobuf w/ brew instead
  .github/workflows/publish-release.yml
Labels: github_actions, kind/testing

#366 Trigger on publish but not create
  .github/workflows/publish-release.yml
Labels: kind/cleanup, github_actions, kind/testing

#367 Used the wrong homebrew path
  .github/workflows/publish-release.yml
Labels: kind/bug, github_actions, kind/testing

#369 Stop using absolute path
  .github/workflows/publish-release.yml
Labels: kind/usability, github_actions, kind/testing

#370 Brew shouldn't be sudo'd
  .github/workflows/publish-release.yml
Labels: kind/bug, github_actions, kind/testing

#371 Install the missing `x86_64-apple-darwin` target
  .github/workflows/publish-release.yml
Labels: kind/bug, github_actions, kind/testing

#372 Upload release asset via script for better OS compatibility
  .github/workflows/publish-release.yml
Labels: kind/bug, github_actions, kind/testing

#373 Fix syntax errors
  .github/workflows/publish-release.yml
Labels: kind/bug, github_actions, kind/testing

#374 Specify correct target path to binary
  .github/workflows/publish-release.yml
Labels: kind/bug, github_actions, kind/testing
